#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0.5rem;
    max-width: 100%;
  }
}

.container {
  position: relative;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
